html {
    font-family: "Open Sans", 'Courier New', Courier, monospace;
}

.app {
    min-width: 300px;
    text-align: center;
}

.app-switch {
    max-width: 100px;
    width: 96px;
    height: 96px;
}

.app-switch:hover {
    cursor: pointer;
    opacity: .8;
}


.turn-image {
    display: flex;
    justify-content: center;
    align-items: center;
}